@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');


.pedido {
  color: rgb(241, 104, 104);

}

.botoes--sim,
.botoes--nao {
    margin-top: 15px;
    font-size: 20px;
    font-weight: bold;
    padding: 12px 25px;
    border-radius: 5px;
    text-decoration: none;
    margin-right: 10px;
    transition: all ease 0.2s;
}

.botoes--sim {
  position: absolute;
  margin-left: -100px;
  background-color: white;
  color: black;
}

.botoes--nao {
  position: absolute;
  margin-left: 20px;
  transition: transform 0.3s ease-in-out;
  color: red;
}


body {
    padding-top: 30px;
    background-color: #000000;
    color: #FFF;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    align-items: center;
    text-align: center;
}

.lists {
    margin-top: -200px;
}

footer {
    margin: 50px 0;
    text-align: center;
}